#pg-about {
  .intro {
    padding: 150px 0 50px 0;
    background-image: url("./img/sobre-fundo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      background-image: url("./img/section-esquerda.svg");
      background-position: left top;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      text-align: center;

      h2 {
        @include subtitle;
        text-transform: uppercase;
        color: $white;
      }

      h1 {
        @include titleSection;
        text-transform: uppercase;
        color: $white;
        max-width: 510px;
        margin-top: 10px;

        span {
          color: #ffe5a6;
        }
      }

      .img {
        max-width: 750px;
        object-fit: contain;
        border-radius: 10px;
      }

      .btn-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        p {
          text-transform: uppercase;
          color: $white;
        }

        img {
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }

  .section-infos {
    padding: 100px 0 250px;
    position: relative;

    .texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 1110px;

      h2 {
        @include titleSingle;
        color: $oceanBlue;
      }
    }

    .video-link {
      background-image: url("./img/video-sobre.webp");
      width: 714px;
      height: 403px;
      position: absolute;
      bottom: -250px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
    }
  }

  .our-story {
    padding: 350px 0 100px 0;
    background-color: $btnColor;

    .top {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      color: $white;

      h2 {
        @include titleSection;
        text-transform: uppercase;
      }

      p {
        max-width: 400px;

        span {
          font-weight: bold;
        }
      }
    }

    .carousel-story {
      padding-top: 100px;

      .slick-arrow {
        position: absolute;
        top: 20px;
        z-index: 999;
        padding: 5px;
        border: 0;
        border-radius: 50%;
        font-size: 0;
        outline: none;
        overflow: hidden;
        background: transparent;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        &.slick-prev {
          right: 2%;
          margin-right: 50px;
        }

        &.slick-next {
          right: 2%;

          &::before {
            transform: rotate(180deg);
          }
        }

        &.slick-disabled {
          opacity: 0.3;
        }

        &::before {
          background-image: url("./img/icons/arrow-carrossel.svg");
          background-size: 32px 32px;
          display: inline-block;
          width: 32px;
          height: 32px;
          content: "";
        }
      }

      .slick-slide {
        margin: 0 10px;
      }

      .slick-list {
        margin: 0 -10px;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;

        .logo {
          width: 100%;
          height: 108px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        .date {
          @include dateText;
          color: $white;
          position: relative;
          margin-bottom: 20px;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: $lineDate;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
          }

          &::before {
            content: "";
            width: 5px;
            height: 5px;
            background: $lineDate;
            border-radius: 50%;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .infos {
          width: 100%;
          height: 300px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          padding: 24px;
          background-color: $backgroundItem;
          position: relative;

          &::after {
            position: absolute;
            top: -23px;
            left: 0;
            content: "";
            width: 100%;
            height: 24px;
            background-image: url("./img/item.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right top;
          }

          h3 {
            @include titleInfos;
            text-transform: uppercase;
            color: $btnColor;
            margin-bottom: 10px;
          }

          p {
            @include textItem;
            color: $textGray;
          }
        }

        &:nth-child(odd) .infos {
          background-color: $backgroundItem;
          &::after {
            background-image: url("./img/item.svg");
          }
        }

        &:nth-child(even) .infos {
          background-color: $white;
          &::after {
            background-image: url("./img/item-branco.svg");
          }
        }

        .img {
          width: 100%;
          height: 208px;
          border-radius: 8px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .certificates {
    padding: 50px 0 150px 0;

    &::after {
      background-image: url("./img/section-esquerda-branco.svg");
      background-position: left top;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      .texts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 550px;

        h2 {
          @include titleSection;
          text-transform: uppercase;
          color: $oceanBlue;
        }
      }

      .infos {
        max-width: 620px;
        width: 100%;

        h4 {
          @include subtitle;
          text-transform: uppercase;
        }

        h3 {
          @include titleSingle;
          color: $oceanBlue;
          margin: 10px 0;
        }

        .items {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px 10px;
          background-color: $white;
          border-radius: 8px;
          padding: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 5px;

            .icon {
              width: 90px;
              height: 90px;
            }

            p {
              @include titleCertificates;
            }

            a {
              display: flex;
              gap: 5px;
              transition: transform 0.3s ease;

              &:hover {
                transform: scale(1.05);
              }

              span {
                @include titleCertificates;
                color: $btnColor;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .social {
    padding: 150px 0 200px 0;
    background-color: $white;
    margin-bottom: -100px;

    .content {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      .texts {
        min-width: 390px;
        max-width: 390px;

        h2 {
          @include titleSection;
          text-transform: uppercase;
          color: $oceanBlue;
          margin-bottom: 30px;
        }
      }

      .carousel-social {
        max-width: 800px;

        .slick-arrow {
          position: absolute;
          top: -80px;
          z-index: 999;
          padding: 5px;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          outline: none;
          overflow: hidden;
          background: transparent;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }

          &.slick-prev {
            right: 2%;
            margin-right: 100px;
          }

          &.slick-next {
            right: 2%;

            &::before {
              transform: rotate(180deg);
            }
          }

          &.slick-disabled {
            opacity: 0.3;
          }

          &::before {
            background-image: url("./img/icons/arrow-social.svg");
            background-size: 70px 70px;
            display: inline-block;
            width: 70px;
            height: 70px;
            content: "";
          }
        }

        .slick-slide {
          margin: 0 10px;
        }

        .slick-list {
          margin: 0 -10px;
        }

        .item {
          background-color: $iceBlue;
          padding: 20px;

          .img {
            width: 100%;
            height: 100px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          h3 {
            margin: 50px 0 20px 0;
            @include btnTabs;
            color: $btnColor;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #pg-about {
    .intro {
      padding: 100px 0 100px 0;

      .content {
        gap: 20px;

        .img {
          max-width: 100%;
        }
      }
    }

    .section-infos {
      padding: 20px 0 150px;

      .video-link {
        width: calc(100% - 40px);
        height: 200px;
        bottom: -100px;
      }
    }

    .our-story {
      padding: 150px 0 50px 0;

      .top {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .carousel-story {
        padding-top: 100px;

        .slick-arrow {
          left: 50%;
          transform: translateX(-50%);
          right: inherit !important;

          &.slick-prev {
            margin-left: -25px;
          }

          &.slick-next {
            margin-left: 25px;
          }
        }
      }
    }

    .certificates {
      padding: 50px 0 100px 0;

      .content {
        flex-direction: column;

        .infos {
          .items {
            grid-template-columns: repeat(1, 1fr);

            .item {
              .icon {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
    }

    .social {
      padding: 50px 0 150px 0;

      .content {
        flex-direction: column;
        gap: 100px;

        .texts {
          min-width: inherit;
        }

        .carousel-social {
          .slick-arrow {
            left: 50%;
            transform: translateX(-50%);
            right: inherit !important;
            top: -70px;

            &.slick-prev {
              margin-right: 0;
              margin-left: -35px;
            }

            &.slick-next {
              margin-left: 35px;
            }

            &::before {
              background-size: 50px 50px;
              width: 50px;
              height: 50px;
            }
          }

          .slick-slide {
            margin: 0 10px;
          }

          .slick-list {
            margin: 0 -10px;
          }

          .item {
            background-color: $iceBlue;
            padding: 20px;

            .img {
              width: 100%;
              height: 100px;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            h3 {
              margin: 50px 0 20px 0;
              @include btnTabs;
              color: $btnColor;
            }
          }
        }
      }
    }
  }
}
