#single-products {
  .intro {
    background-color: $btnColor;
    border-radius: 0 0 20px 20px;
    padding: 150px 0 250px 0;

    @media (max-width: 768px) {
      padding: 70px 0 250px 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h3 {
        @include textInfos;
        text-align: center;
        color: $white;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        a {
          color: $white;
        }

        span {
          font-weight: 600;
        }
      }

      h1 {
        @include titleSingle;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        max-width: 600px;
        margin-top: 20px;
      }

      h2 {
        @include textInfos;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        opacity: 0.5;
      }
    }
  }

  .product-details {
    padding: 20px;
    margin-top: -220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .img {
      max-width: 650px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .bottom {
      display: none;

      img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 10px auto;
      }

      h2 {
        @include textRotate;
        color: $btnColor;
        text-align: center;
      }
    }
  }

  .tabs-section {
    margin-top: 100px;

    .tabs {
      button {
        border-radius: 10px;
        border: 0;
        padding: 15px 20px;
        @include btnTabs;
        color: $btnColor;
        opacity: 0.8;
        cursor: pointer;
        margin: 0 15px 15px 0;
        transition: background-color 0.3s ease, opacity 0.3s ease;

        &.active,
        &:hover {
          background-color: $white;
          opacity: 1;
        }
      }
    }

    .tab-content {
      background-color: $white;
      padding: 30px 20px;
      border-radius: 10px;

      .description {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          color: $oceanBlue;
        }

        h2 {
          @include titleSection;
        }

        h3 {
          @include postH3;
        }

        h3 {
          @include postH3;
        }

        h4 {
          @include postH4;
        }

        h5 {
          @include postH5;
        }

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
          border-radius: 8px;
          margin-bottom: 20px;
        }

        iframe,
        video {
          width: 100%;
          height: auto;
          max-width: 100%;
          border-radius: 8px;
          margin-bottom: 20px;
        }

        ul {
          list-style: disc;
          margin-left: 20px;
        }
      }

      table {
        max-width: 375px;
        margin: 0;
        border: 1px solid $lineDate;
        border-collapse: collapse;

        th,
        td {
          border: 1px solid $lineDate;
          padding: 20px;
          @include textInfos;
          color: $btnColor;
          text-align: center;
        }

        th {
          border-bottom: 1px solid $lineDate;
          background-color: $iceBlue;
        }

        tr:nth-child(odd) {
          background-color: $iceBlue;
        }

        tr:nth-child(even) {
          background-color: $white;
        }
      }

      .downloads-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .download-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $iceBlue;
          padding: 20px 10px;
          border-radius: 8px;
          width: 240px;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            @include textBtn;
            color: $btnColor;
            text-align: center;
          }
        }
      }
    }
  }

  .products-catalog {
    margin: 150px 0;

    @media (max-width: 768px) {
      margin: 100px 0;
    }

    h2 {
      @include titleSection;
      color: $btnColor;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .video-product {
    margin-top: 50px;

    .video-link {
      background-image: url("./img/video-fundo.webp");
      margin: 0 auto;
    }
  }

  @keyframes floatInCard {
    0% {
      opacity: 0;
      transform: translate(-100%, -50%);
    }
    100% {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  .card-b2b {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: $white;
    border-radius: 0 10px 10px 0;
    text-align: center;
    cursor: pointer;
    animation: floatInCard 0.8s ease-out;
    z-index: 9999;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      width: 26;
      height: 26;
    }

    p {
      @include textB2B;
      color: $btnColor;
      max-width: 235px;
    }
  }
}
