#form-contact {
  .form-column {
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .column-two {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 20px;
    }
  }

  label {
    @include labelForm;
    color: $textPost;
  }

  input[type="text"],
  textarea {
    width: 100%;
    height: 44px;
    border: 1px solid $lineDate;
    border-radius: 5px;
    padding: 0 10px;
  }

  textarea {
    height: 110px;
    resize: none;
    padding: 10px;
  }

  .upload-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
      max-width: 200px;

      .info-icon {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        cursor: pointer;
      }
    }

    .tooltip-text {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 40px;
      left: 150px;
      transform: translateX(-50%);
      background-color: #333;
      color: $white;
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
      width: 200px;
      transition: opacity 0.3s;
      z-index: 10;
    }

    .info-icon:hover + .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .radio-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .form-group {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .fields-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    input {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1024px) {
  #form-contact {
    .upload-field {
      flex-direction: column;
      align-items: flex-start;
    }

    .radio-options {
      grid-template-columns: 1fr;
    }

    .fields-row {
      grid-template-columns: repeat(3, 1fr);

      label {
        display: flex;
        min-height: 40px;
        align-items: end;
      }
    }
  }
}
