$black: #000000;
$white: #ffffff;
$textColor: #3d3d3d;
$iceBlue: #ecf2f6;
$oceanBlue: #008bd2;
$textGray: #2e4d5e;
$btnColor: #223a83;
$borderBlue: #2441a9;
$backgroundCalc: #d5dcec;
$whiteSecondary: #fff4d4;
$subtitleColor: #282828;
$backgroundPost: #223a83d9;
$lineDate: #a4c5d5;
$backgroundItem: #cfe0e8;
$searchColor: #f0f6fe;
$textPost: #2a4250;
$backgroundAside: #f5f8fa;
$yellow: #ebc407;
