* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: $font-primary;
  @include text;
  color: $textColor;
  background-color: $iceBlue;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1260px) {
    padding: 0 20px;
  }
}

.section-aba {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 75px;
    background-image: url("./img/section-direita-azul.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 3;
  }
}
