$font-primary: "Rubik", serif;

@mixin text {
  font-size: 1em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
}

@mixin menuText {
  font-size: 1em;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.05em;
}

@mixin textBtn {
  font-size: 0.875em;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.03em;
}

@mixin titleList {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 21.78px;
  letter-spacing: -0.05em;
}

@mixin titleInfos {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.03em;
}

@mixin textInfos {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 19px;
  letter-spacing: -3%;
}
